$radius: 10px;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after { 
	display: block;
	visibility: hidden;
	clear: both;
	height: 0px;
	content:".";
}
body{
	background: #F9F6CD;
	min-height: 800px;
}
header{
	background: #F9DAC2;
}

.ui-state-highlight{

}
  
#btn{
	border-radius: $radius;
	border: 1px solid #7C7C7C;
	background: #81EA95;
	font-weight: bold;
	float: left;
	font-size: 20px;
	margin: 50px;

}  
.timeline{
	box-shadow: 1px 3px 3px rgba(0,0,0,.25);
	margin: 10px 50px;
	width: 520px;
	border-radius: $radius;
	background: #fff;
	border: 1px solid #7C7C7C;
	padding-bottom: 10px;	
	h2{
		font-size: 13px;
		border-radius: $radius $radius 0 0;
		background: #81EA95;
		padding: 5px;
		border-bottom: 1px solid #7C7C7C;
		margin-bottom: 10px;
	}
	
}
.trigger{
	@extend .timeline;
	margin: 10px;
	width: 500px;
	position: relative;
	h2{
		background: #C0ECFF;
	}

	select{
		margin-left: 10px;
		padding: 3px 30px 3px 10px;
		-webkit-appearance:button;
    	-moz-appearance:button;
    	appearance:button;
    	font-size: 13px;
		border: 1px solid #7C7C7C;
		background: #C0ECFF;
		border-radius: 13px;
		text-align: center;
		&:focus {
			outline: none;
		}
	}
	input{
		position: relative;
		border-radius: 13px;
		border: 1px solid #7C7C7C;
		left: -30px;
		height: 28px;
		top: 0;
		text-align: center;
		width: 300px;
		font-size: 13px;
		&:focus {
			outline: none;
		}
	}
	button{
		border-radius: 13px;
		height: 24px;
		width: 24px;
		border: 1px solid #7C7C7C;
		background: #C0ECFF;
		font-weight: bold;
		&:focus {
			outline: none;
		}
	}
	&>button{
		position: absolute;
		background: #fff;
		top: 2px;
		right: 10px;
		border-radius: 12px;
		height: 24px;
		width: 24px;
	}
	.addTrigger{
		right: 40px;
	}
	.deleteCondition{
		margin-left: 10px;
	}
}
.contents{
	@extend .trigger;
	width: 480px;
	h2{
		background: #FFC2F1;
	}
	select{
		background: #FFC2F1; 
	}
	input{
		width: 240px;
	}
	button{
		background: #FFC2F1;
	}
}