<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>謎つく</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.14.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" href="style.css">
  <script src="jquery-1.10.2.js"></script>
  <script src="jquery-ui-1.10.4.custom.min.js"></script>
  <script src="jquery.json-2.4.min.js"></script>
  <script src="main.js"></script>
  <script>
<!--


// -->
</script>
<style>
  
</style>

</head>
<body>
<header>
  <h1><img src="logo.png" alt="謎つく"></h1>
</header>
<img src="bar.png" alt="">
  
<div class="timeline">
  <h2>Timeline</h2> 
  <ul class="jquery-ui-sortable clearfix">
    <li class="trigger">
      <h2>Trigger</h2>
      <button class="addTrigger">+</button>
      <ul class="clearfix">
        <li>
          <ul class="conditions">
            <li>
              <select>
                <option value="">条件を選択</option>
                <option value="string">String</option>
                <option value="beacon">Beacon</option>
                <option value="timer">Timer</option>
              </select>
              <input type="text">
              <button class="addCondition">+</button>
            </li>
          </ul>
        </li>
        <li class="contents">
          <h2>Contents</h2>
          <div>
              <select name="contents">
                <option value="">コンテンツを選択</option>
                <option value="img">画像</option>
                <option value="youtube">Youtube URL</option>
                <option value="voice">音声</option>
                <option value="clear">Clear</option>
              </select>
              <input type="text">
          </div>  
        </li>
      </ul>
    </li>
  </ul>
</div>
<button id="btn">謎解きを配信!</button>
</body>
</html>