*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after { display: block; visibility: hidden; clear: both; height: 0px; content: "."; }

body { background: #F9F6CD; min-height: 800px; }

header { background: #F9DAC2; }

#btn { border-radius: 10px; border: 1px solid #7C7C7C; background: #81EA95; font-weight: bold; float: left; font-size: 20px; margin: 50px; }

.timeline, .trigger, .contents { box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25); margin: 10px 50px; width: 520px; border-radius: 10px; background: #fff; border: 1px solid #7C7C7C; padding-bottom: 10px; }
.timeline h2, .trigger h2, .contents h2 { font-size: 13px; border-radius: 10px 10px 0 0; background: #81EA95; padding: 5px; border-bottom: 1px solid #7C7C7C; margin-bottom: 10px; }

.trigger, .contents { margin: 10px; width: 500px; position: relative; }
.trigger h2, .contents h2 { background: #C0ECFF; }
.trigger select, .contents select { margin-left: 10px; padding: 3px 30px 3px 10px; -webkit-appearance: button; -moz-appearance: button; appearance: button; font-size: 13px; border: 1px solid #7C7C7C; background: #C0ECFF; border-radius: 13px; text-align: center; }
.trigger select:focus, .contents select:focus { outline: none; }
.trigger input, .contents input { position: relative; border-radius: 13px; border: 1px solid #7C7C7C; left: -30px; height: 28px; top: 0; text-align: center; width: 300px; font-size: 13px; }
.trigger input:focus, .contents input:focus { outline: none; }
.trigger button, .contents button { border-radius: 13px; height: 24px; width: 24px; border: 1px solid #7C7C7C; background: #C0ECFF; font-weight: bold; }
.trigger button:focus, .contents button:focus { outline: none; }
.trigger > button, .contents > button { position: absolute; background: #fff; top: 2px; right: 10px; border-radius: 12px; height: 24px; width: 24px; }
.trigger .addTrigger, .contents .addTrigger { right: 40px; }
.trigger .deleteCondition, .contents .deleteCondition { margin-left: 10px; }

.contents { width: 480px; }
.contents h2 { background: #FFC2F1; }
.contents select { background: #FFC2F1; }
.contents input { width: 240px; }
.contents button { background: #FFC2F1; }
